body { background: #CCC; font-family: Arial, Tahoma;}
.container{
    width: 400px;
    margin: 10px auto;
    border: 2px solid #ff0000;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #675959;
}

h1 {
    width: 300px;
    margin: 10px auto;
    text-align: center;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 10px;
    background: #000000;
    padding: 10px;
}
h1::first-letter{
    color: #eeeeee;
}
p{
    text-align: center;
    color: #999999;
}
#messages {
      width: 300px;
      min-height: 200px;
      border: 1px solid #ff0000;
      border-radius: 10px;
      margin: 10px auto;
      padding: 20px;
      background: #272727;
      color: #eeeeee;
}
#messages li {
    padding: 10px;
    background: #675959;
    border: 1px solid #ff0000;
    margin-bottom: 5px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
#message-form{
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    background: #000000;
}
#message-form input {
    outline: none;
    width: 92%;
    height: 30px;
    margin-left: 5px;
    padding-left: 5px;
    
   
}

#message-form button {
   
    width: 95%;
    height: 30px;
    margin: 5px;
    margin-top: 15px;
    color: #eeeeee;
    background: #ff0000;
    outline: none;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    
}
#message-form button:active, #message-form button:hover{
    background: #999999;
    color: #ff0000;
}

#send-location{
    height: 30px;
    margin: 10px 30px;
    padding: 10px 10px 25px 10px;
    color: #eeeeee;
    background: #272727;
    outline: none;
    border: 1px solid #eeeeee;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

#send-location:active, #send-location:hover{
    background: #ff0000;
    color: #eeeeee;
}